/* Algemene stijl */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    padding-top: 150px;
    overflow-x: hidden; /* Voorkomt horizontale scrollbalken */
}

/* Content Wrapper */
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Header stijl */
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-header h2 {
    font-size: 24px;
}

/* Dropdown-styling */
#project-filter {
    padding: 8px 12px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
}

/* Contact Section */
.contact-section {
    background-color: #1e1e1e;
    padding: 40px 0;
    text-align: center;
}

.contact-section .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Review Sectie Styling */
.reviews-section {
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;  /* Ruimte boven de sectie */
    margin-bottom: 50px;  /* Ruimte onder de sectie */
}

/* De container die de content beperkt tot 1200px */
.reviews-section .content-wrapper {
    max-width: 1200px;  /* Beperk de breedte van de inhoud */
    margin: 0 auto;  /* Centreer de inhoud */
    padding: 0 20px;  /* Padding aan de zijkanten van de content */
}

.reviews-section h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.reviews {
    display: flex;
    justify-content: space-between;  /* Zorgt ervoor dat de reviews naast elkaar staan */
    gap: 20px;  /* Ruimte tussen de blokken */
    flex-wrap: wrap;  /* Zorgt ervoor dat ze onder elkaar komen bij kleinere schermen */
    margin: 20px 20px;
}

.reviews .review {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    flex: 1;  /* Zorgt ervoor dat de blokken even groot zijn */
    min-width: 250px;  /* Minimum breedte voor de blokken */
    box-sizing: border-box;
}

.reviews .review p {
    font-size: 18px;
    color: white;
}




/* Responsiveness */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
